body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.p {
  padding: 10px;

  @for $i from 0 through 10 {
    $multiplier: 5px * $i;

    &-#{$i} {
      padding: $multiplier;
    }

    &t-#{$i} {
      padding-top: $multiplier;
    }

    &r-#{$i} {
      padding-right: $multiplier;
    }

    &b-#{$i} {
      padding-bottom: $multiplier;
    }

    &l-#{$i} {
      padding-left: $multiplier;
    }

    &x-#{$i} {
      padding-left: $multiplier;
      padding-right: $multiplier;
    }

    &y-#{$i} {
      padding-top: $multiplier;
      padding-bottom: $multiplier;
    }
  }
}

.t {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-justify {
    text-align: justify;
  }
}

.m {
  margin: 10px;

  @for $i from 0 through 10 {
    $multiplier: 5px * $i;

    &-#{$i} {
      margin: $multiplier;
    }

    &t-#{$i} {
      margin-top: $multiplier;
    }

    &r-#{$i} {
      margin-right: $multiplier;
    }

    &b-#{$i} {
      margin-bottom: $multiplier;
    }

    &l-#{$i} {
      margin-left: $multiplier;
    }

    &x-#{$i} {
      margin-left: $multiplier;
      margin-right: $multiplier;
    }

    &y-#{$i} {
      margin-top: $multiplier;
      margin-bottom: $multiplier;
    }
  }
}
